/* mobile layout first */
body {
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-container {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #1BEE10;
    display: grid;
    position: sticky;
    grid-template-columns: 1fr 1fr;
}
.nav-container > a > img {
    height: 60px;
    margin: 10px 0px;
}
.nav-container > button > img {
    height: 34px;
    position: absolute;
    right: 20px;
    top: 30px;
}
.nav-container > button {
    background-color: black;
    border: none;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr;
}
h1 {
    text-transform: uppercase;
    text-align: center;
    color: #1BEE10;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 10px;
}
.content-container > img {
    width: 280px;
    height: auto;
    margin: 20px auto;
}
.content-container > p {
    background-color: #1BEE10;
    border: 2px solid black;
    width: 300px;
    margin: 0 auto;
    padding: 8px;
    line-height: 28px;
    font-size: 20px;
}
.buttons-box {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.buttons-box > div {
    border: 2px solid black;
    width: 90px;
    height: 40px;
    margin-right: 20px;
    background-color: #1BEE10;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
footer {
    width: 100%;
    height: 60px;
    color: #1BEE10;
    text-align: center;
} 







/* tablet styles */



/* desktop styles */